body {
    font-family: "Arial", sans-serif;
    background-color: #eaeaea;
}
.container {  
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 1px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label,
input,
button {
    margin: 10px 0;
    box-sizing: border-box;
}
input {
    width: 100%;
    margin-top: 5px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th,
td {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
}
th {
    background-color: #4c66af;
    color: white;
}
button {
    background-color: #4c66af;
    color: white;
    padding: 5px;
    border: none;
}
button:hover {
    background-color: #465d9e;
}
.success-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
    display: none;
    animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
